.toolbar_positioner__yysqf{
    display: none;
}
#feedback-toolbar{
    display: none;
}

#app{
    .spinner{
       display: flex;
       align-items: center;
       justify-content: center; 
    }
}